<!-- 权限添加 -->
<div id="permissionAdd" class="dialog-main">
	<form class="layui-form" action="">
		<!-- 表单数据 -->
		<fieldset class="layui-elem-field">
			<legend>权限信息</legend>
			<div class="layui-field-box">
				<div class="layui-form-item layui-row">
					<label class="layui-form-label">权限名称</label>
					<div class="layui-input-block">
						<input type="text" name="permissionName" required  lay-verify="required" placeholder="请输入权限名称" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item layui-row">
					<label class="layui-form-label">权限码</label>
					<div class="layui-input-block">
						<input type="text" name="permissionCode" required  lay-verify="required" placeholder="请输入权限码" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item layui-row">
					<label class="layui-form-label">描述</label>
					<div class="layui-input-block">
						<textarea name="permissionDescribe" placeholder="请输入描述信息" class="layui-textarea"></textarea>
					</div>
				</div>			
			</div>
		</fieldset>
		<!-- 表单提交按钮 -->
		<div class="layui-form-item layui-row text-align-right">
			<button class="layui-btn layui-btn-radius" lay-submit lay-filter="permissionAddSubmit">添加</button>
			<button type="reset" class="layui-btn layui-btn-radius layui-btn-primary">重置</button>
			<button id="close" type="button" class="layui-btn layui-btn-radius layui-btn-danger">关闭</button>
		</div>
	</form>
</div>
<script th:inline="javascript">
	var ctx = [[@{/}]];
  
	layui.use(['form', 'jquery', 'layer'], function() {
		var $ = layui.jquery,
		form = layui.form,
		layer = layui.layer,
		
		$dom = $("#permissionAdd"),
		$form = $dom.find("form"),
		
		index = layer.index;
		
		//表单渲染
		form.render();
		
		//对话框关闭
		$dom.find("#close").click(function(){
			layer.close(index);
		});
				
		//注册表单提交
		form.on('submit(permissionAddSubmit)',function(data){
			var permission = data.field;
			$.post({
				url: ctx + "permission/permissionAdd",
				data: permission,
				success: function(res){
					if(res.code==200){
						util.success("添加成功");
						layer.close(index);
						//表格刷新
						$("#permission").find("#find").click();
					}else{
						util.error(res.msg);
					}
				}
			});
			return false;
		});
	});
</script>
