<!-- 用户编辑 -->
<div id="userEdit" class="dialog-main">
	<form class="layui-form" action="">
		<!-- 表单数据 -->
		<fieldset class="layui-elem-field">
			<legend>用户信息</legend>
			<div class="layui-field-box">
				<div class="layui-form-item layui-row">
					<div class="layui-col-md2 layui-col-md-offset5 layui-col-xs4 layui-col-xs-offset4">
						<img id="photoImg" class="user-detail-img cursor_pointer" th:src="${user.photo}" />
						<input type="text" name="photo" th:value="${user.photo}" class="display-none">
					</div>
				</div>
				<div class="layui-form-item layui-row">
					<label class="layui-form-label">ID</label>
					<div class="layui-input-block">
						<input type="text" name="userId" th:value="${user.userId}" required  lay-verify="required" autocomplete="off" class="layui-input" readonly>
					</div>
				</div>
				<div class="layui-form-item layui-row">
					<label class="layui-form-label">用户名</label>
					<div class="layui-input-block">
						<input type="text" name="username" th:value="${user.username}" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item layui-row">
					<label class="layui-form-label">角色</label>
					<div class="layui-input-block">
						<div id="roles"></div>
					</div>
				</div>
				<div class="layui-form-item layui-row">
					<label class="layui-form-label">性别</label>
					<div class="layui-input-block">
						<select name="gender">
					        <option th:each="item : ${@dict.getValues('sys_gender')}" th:value="${item.valueCode}" th:selected="${item.valueCode==user.gender}">[[${item.valueLabel}]]</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item layui-row">
					<label class="layui-form-label">生日</label>
					<div class="layui-input-block">
						<input id="birthday" type="text" name="birthday" th:value="${user.birthday==null?'':#dates.format(user.birthday,'yyyy-MM-dd HH:mm:ss')}" required  lay-verify="required" placeholder="请选择生日" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item layui-row">
					<label class="layui-form-label">QQ</label>
					<div class="layui-input-block">
						<input type="text" name="qq" th:value="${user.qq}" placeholder="请输入QQ" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item layui-row">
					<label class="layui-form-label">Email</label>
					<div class="layui-input-block">
						<input type="text" name="email" th:value="${user.email}" placeholder="请输入Email" autocomplete="off" class="layui-input">
					</div>
				</div>			
			</div>
		</fieldset>
		<!-- 表单提交按钮 -->
		<div class="layui-form-item layui-row text-align-right">
			<button id="userEditSubmit" class="layui-btn layui-btn-radius" lay-submit lay-filter="userEditSubmit">修改</button>
			<button id="close" type="button" class="layui-btn layui-btn-radius layui-btn-danger">关闭</button>
		</div>
	</form>
</div>
<script th:inline="javascript">
	var ctx = [[@{/}]];

	//Layui加载第三方组件
	layui.config({
		base : ctx + 'js/layuiadmin/' //静态资源所在路径
	}).extend({
		xmSelect : 'lib/xm-select' //主入口模块
	});
	layui.use(['form', 'jquery', 'laydate', 'layer', 'xmSelect', 'upload'], function() {
		var $ = layui.jquery,
		form = layui.form,
		laydate = layui.laydate,
		layer = layui.layer,
		xmSelect = layui.xmSelect,
		upload = layui.upload,
		
		$dom = $("#userEdit"),
		$form = $dom.find("form"),
		
		index = layer.index,
		roleIds = [[${roleIds}]],
		roles,
		uploadIns,
		isChoosed = false;
		
		//表单渲染
		form.render();
		
		//日期控件渲染
		laydate.render({
			elem: "#birthday",
			type: "datetime"
		});
		
		//下拉框渲染
		$.get({
			url: ctx + "role/getAllRoles",
			success: function(res){
				//数据转换
				var selectData = [];
				if(res.code==200){
					res.data.forEach(function(role){
						selectData.push({
							name: role.roleName,
							value: role.roleId,
							selected: util.inArray(role.roleId,roleIds)
						})
					})
				}
				//渲染
				roles = xmSelect.render({
					el: '#roles',
					language: 'zn',
					data: selectData
				});
			}
		})
		
		//对话框关闭
		$dom.find("#close").click(function(){
			layer.close(index);
		});
		
		//文件控件渲染
		uploadIns = upload.render({
			elem: '#photoImg'
			,url: ctx + 'sys/upload' //改成您自己的上传接口
			,accept: 'images'
			,auto: false
			//,binfAction: "#aaa"
			,choose: function(obj){
				isChoosed = true;
				obj.preview(function(index, file, result){
					$dom.find("#photoImg").attr("src",result);//result是本地图片的base64编码
				});
			}
    		,done: function(res){
      			if(res.code==200){
      				isChoosed = false;
      				$dom.find("input[name='photo']").val(res.data);
      				$dom.find("#userEditSubmit").click();
      			}else{
      				util.error("头像上传失败");
      			}
    		}
    		,error: function(){
    			util.error("头像上传失败");
    		}
  		});
		
		//编辑表单提交
		form.on('submit(userEditSubmit)',function(data){
			//获取表单字段
			var user = data.field;
			user["roleIdsStr"] = roles.getValue("valueStr");
			if(isChoosed){//只有重新选择了文件才会对文件进行上传
				uploadIns.upload();
			}else{
				//请求保存数据
				$.post({
					url: ctx + "user/update",
					data: user,
					success: function(res){
						if(res.code==200){
							util.success("修改成功");
							layer.close(index);
							//表格刷新
							$("#user").find("#find").click();
						}else{
							util.error(res.msg);
						}
					}
				});
			}
			return false;
		});
	});
</script>
