<div id="userEditPassword" class="dialog-main">
	<form class="layui-form" action="">
		<!-- 表单数据 -->
		<fieldset class="layui-elem-field">
			<legend>修改密码</legend>
			<div class="layui-field-box">
				<div class="layui-form-item layui-row display-none">
					<label class="layui-form-label">用户ID</label>
					<div class="layui-input-block">
						<input type="text" name="userId" th:value="${currentUser.userId}" required  lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item layui-row">
					<label class="layui-form-label">原密码</label>
					<div class="layui-input-block">
						<input type="password" name="oldPassword" placeholder="请输入旧密码" required  lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item layui-row">
					<label class="layui-form-label">新密码</label>
					<div class="layui-input-block">
						<input type="password" name="newPassword" required  lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item layui-row">
					<label class="layui-form-label">重复新密码</label>
					<div class="layui-input-block">
						<input type="password" name="newPasswordRep" required  lay-verify="required" placeholder="请重复输入新密码" autocomplete="off" class="layui-input">
					</div>
				</div>			
			</div>
		</fieldset>
		<!-- 表单提交按钮 -->
		<div class="layui-form-item layui-row text-align-right">
			<button class="layui-btn layui-btn-radius" lay-submit lay-filter="editPasswordSubmit">修改</button>
			<button id="close" type="button" class="layui-btn layui-btn-radius layui-btn-danger">关闭</button>
		</div>
	</form>
</div>
<script th:inline="javascript">
	var ctx = [[@{/}]];

	layui.use([ 'jquery', 'layer','form'], function() {
		var $ = layui.jquery,
		form = layui.form,
		layer = layui.layer,

		$dom = $("#userEditPassword"), 
		$form = $dom.find("form"),
		
		index = layer.index;
		
		//表单渲染
		form.render();
		
		//提交
		form.on('submit(editPasswordSubmit)',function(data){
			debugger;
			//获取表单字段
			var user = data.field;
			//检查两次密码是否相同
			if(checkPasswordEqual(user)){
				$.post({
					url: ctx + "user/userUpdatePassword",
					data: user,
					success: function(res){
						if(res.code==200){
							util.success("密码修改成功");
						} else{
							util.error(res.msg);
						}
					}
				});
			}else{
				util.error("两次密码不一致");
			}
			return false;
		});
		//检查两次密码是否相同
		function checkPasswordEqual(user){
			if(user.newPassword===user.newPasswordRep)
				return true;
			return false;
		}
		
		//对话框关闭
		$dom.find("#close").click(function(){
			layer.close(index);
		});
		

	});
</script>
