<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>叮当云盘-403</title>
<link rel="stylesheet" href="/js/layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="/css/common.css" media="all">
<style type="text/css">
	.error-icon{
		font-size:120px;
	}
	.error-text{
		font-size:22px;
	}
</style>
</head>
<body class="layui-layout-body">
	<div class="vertical-center horizontal-center fill-screen">
		<i class="error-icon layui-icon">&#xe61c;</i><br/>
		<label class="error-text">Sorry,您没有相应的权限</label>
	</div>
</body>
</html>


