<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" th:href="@{/js/layuiadmin/layui/css/layui.css}" media="all">
<link rel="stylesheet" th:href="@{/css/common.css}" media="all">
<!-- dropdown组件 -->
<link rel="stylesheet" th:href="@{/js/layuiadmin/style/dropdown.css}" media="all">
</head>
<body>
	<div class="main" id="share">
		<!-- 搜索工具栏 -->
		<div class="layui-row layui-col-space10">
			<!-- 查询表单 -->
			<form class="layui-form layui-col-md9  layui-col-xs12 layui-row">
				<div class="layui-form-item layui-row">
					<div class="layui-col-md4 layui-col-xs12">
						<label class="layui-form-label">所属用户</label>
						<div class="layui-input-block">
							<input type="text" name="username" placeholder="请输入内容" autocomplete="off"
								class="layui-input">
						</div>
					</div>
					<div class="layui-col-md4 layui-col-xs12">
						<label class="layui-form-label">文件名</label>
						<div class="layui-input-block">
							<input type="text" name="fileName" placeholder="请输入内容" autocomplete="off"
								class="layui-input">
						</div>
					</div>
					<div class="layui-col-md4 layui-col-xs12">
						<label class="layui-form-label">共享码</label>
						<div class="layui-input-block">
							<input type="text" name="shareCode" placeholder="请输入内容" autocomplete="off"
								class="layui-input">
						</div>
					</div>
					<div class="layui-col-md4 layui-col-xs12">
						<label class="layui-form-label">创建人</label>
						<div class="layui-input-block">
							<input type="text" name="createBy" placeholder="请输入内容" autocomplete="off"
								class="layui-input">
						</div>
					</div>
					<div class="layui-col-md4 layui-col-xs12">
						<label class="layui-form-label">创建时间</label>
						<div class="layui-input-block">
							<input id="createTime" type="text" name="createTime" placeholder="请选择时间" autocomplete="off"
								class="layui-input">
						</div>
					</div>
				</div>
			</form>
			<!-- 功能按钮 -->
			<div class="layui-col-md3  layui-col-xs12 layui-fluid">
				<button id="find" type="button"
					class="layui-btn layui-btn-radius layui-btn-primary">
					<i class="layui-icon layui-icon-search"></i>
				</button>
				<button id="refresh" type="button"
					class="layui-btn layui-btn-radius layui-btn-primary">
					<i class="layui-icon layui-icon-refresh"></i>
				</button>
				<div class="tool">
					<button id="more" type="button"
						class="layui-btn layui-btn-radius layui-btn-primary">
						<i class="layui-icon layui-icon-more"></i>
					</button>
					<!-- 下拉按钮 -->
					<div class="layui-dropdown-menu">
						<div class="layui-row">
							<button id="deleteBatch" type="button" shiro:hasPermission="share:delete"
								class="layui-col-md12 layui-col-xs12 layui-btn layui-btn-primary">批量删除</button>
						</div>
						<!-- 
						<div class="layui-row">
							<button id="addPermission" type="button" shiro:hasPermission="permission:add"
								class="layui-col-md12 layui-col-xs12 layui-btn layui-btn-primary">添加权限</button>
						</div>
						 -->
					</div>
				</div>
			</div>
		</div>
		<!-- 表格数据 -->
		<div class="layui-row">
			<table id="shareTable" lay-filter="shareTable"></table>
		</div>
	</div>	
	<!-- 工具按钮 -->
	<script type="text/html" id="shareBar">
  <a shiro:hasPermission="share:view" class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
  <a shiro:hasPermission="share:delete" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	</script>
	<script th:src="@{/js/layuiadmin/layui/layui.js}"></script>
	<script th:src="@{/js/util.js}"></script>
	<script th:inline="javascript">
		//共享有效标志
		var shareFlags = [[${@dict.getValues('share_active_flag')}]];
	</script>
	<script>
	var ctx = "[[@{/}]]";
	
		//拓展Layui组件
		layui.config({
			base: ctx + 'js/layuiadmin/modules/'
		}).extend({
			dropdown: 'dropdown'
		});
		
		layui.use([ 'jquery','table','laydate','dropdown','layer'], function() {
			var $ = layui.jquery, 
			table = layui.table,
			laydate = layui.laydate,
			dropdown = layui.dropdown,
			layer = layui.layer,

			$dom = $("#share"), 
			$form = $dom.find("form"),
			sortInfo = {field: 'createTime',type:'asc'},
			tableIns;

			//渲染时间控件
			laydate.render({
				elem: "#createTime",
				type: "datetime"
			});
			
			//渲染表格
			function initTable() {
				tableIns = table.render({
					elem : '#shareTable',
					url : ctx + 'share/getSharesPage', //数据接口
					where: $.extend({},getQueryParam(),sortInfo),
					page : true, //开启分页
					parseData: function(res){
						if(res.code==200)
							res.code=0;
						return res;
					},
					cols : [ [
					{checkbox: true},
					{field : 'username',title : '所属用户',align:'center',minWidth:120},
					{field : 'fileName',title : '文件名',align:'center',minWidth:120},
					{field : 'shareCode',title : '共享码',align:'center',minWidth:120},
					{title : '有效时间(天)',align:'center',templet: function(d){
						return d.activeDuration<=0?'永久':d.activeDuration;
					},minWidth:120},
					{title : '有效标志',align:'center',templet: function(d){
						return util.getValueLabel(shareFlags,d.activeFlag);
					},minWidth:120},
					{field : 'download',title : '下载人数',align:'center',minWidth:120},
					{field : 'createBy',title : '创建人',align:'center',minWidth:160},
					{field : 'createTime',title : '创建时间',align:'center',sort:true,minWidth:160},
					{fixed: 'right',title: '操作', width:200, align:'center', toolbar: '#shareBar'}
					]],
					done: function(){
						$dom.find("table").css("width","100%");
					}
				});
			}
			initTable();
			
			
			//菜单按钮
			$dom.find("#find").click(function(){
				initTable();
			});
			$dom.find("#refresh").click(function(){
				$form[0].reset();
				initTable();
			});
			//下拉菜单渲染
			dropdown.render({
				dropdown: '.tool',
				toggle: '#more'
			});

			/*
			//添加权限
			$dom.find("#addPermission").click(function(){
				util.open({
				   title: "添加权限",
				   offset: "t",
				   area: ["80%","100%"],
				   url:"/base/permission/permissionAdd"
				});
			});
			*/
			//批量删除
			$dom.find("#deleteBatch").click(function(){
				var checkStatus = table.checkStatus('shareTable');
				if(checkStatus.data.length<=0){
					util.error("请选中删除行"); 
				}else{
					util.warn("正在开发");
					/*
					layer.confirm('确定删除选中权限吗？<br>在一段时间后选中权限信息将会永久性删除', {icon: 3, title:'提示'}, function(index){
						var permissions = checkStatus.data;
						var permissionIds = [];
						permissions.forEach(function(permission){
							permissionIds.push(permission.permissionId);
						});
						//删除请求
						$.get({
							url: '/permission/permissionDeleteBatch/'+permissionIds.join(','),
							success: function(res){
								if(res.code==200){
									util.success("删除成功");
									initTable();
								}else{
									util.error("删除失败"); 
								}
							}
						});
					});*/
				}
			});
			
			
			//获取表单查询参数
			function getQueryParam(){
				return {
					username: $form.find("input[name='username']").val().trim(),
					fileName: $form.find("input[name='fileName']").val().trim(),
					shareCode: $form.find("input[name='shareCode']").val().trim(),
					createBy: $form.find("input[name='createBy']").val().trim(),
					createTime: $form.find("input[name='createTime']").val()
				};
			}
			
			//表格单元按钮监听
			table.on('tool(shareTable)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
				  var data = obj.data; //获得当前行数据
				  var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
				  var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
				 
				  if(layEvent === 'detail'){ //查看
					  util.open({
						  title: "共享信息",
						  offset: "auto",
						  area: ["80%"],
						  url: ctx + "share/shareDetail/"+data.shareId
					  });
				  } else if(layEvent === 'del'){ //删除
					  util.warn("正在开发");
				  /*
					  layer.confirm('确定删除此项字典键吗？<br>在一段时间后字典键信息将会永久性删除', {icon: 3, title:'提示'}, function(index){
						  $.get({
							url: "/dictKey/dictKeyDelete/"+data.keyId,
							success: function(res){
								if(res.code==200){
									util.success("删除成功"); 
									layer.close(index);
									initTable();
								}else{
									util.error("删除失败");  
								}
							}
						 });
					  });*/
				  }
			});
			
			//表格排序
			table.on('sort(shareTable)', function(obj){ //注：sort 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
				sortInfo = obj;
				tableIns.reload({
					where :sortInfo
				});
			});
		});
	</script>
</body>
</html>
